.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
  position: relative;
}

#bulbasaur {
  top: 20px;
  right: 50px;
}

#charmander {
  top: 40px;
}

#squirtle {
  top: 90px;
}

#pikachu {
  top: 160px;
}

#jigglypuff {
  top: 300px;
  left: 20px;
}
