* {
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.blue-modal-button {
  width: 190px;
  height: 43px;
  border-radius: 5px;
  color: white;
  background-color: #4a4ae9;
  font-size: 22px;
  box-shadow: 0 0 2.5px #2d2d3f;
  border-style: none;
}

.red-modal-button {
  width: 95px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #d7645f;
  font-size: 21px;
  border: none;
  box-shadow: 0 0 2.5px #aa4d48;
}
